<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anotador semantico</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
    <!--            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
    <!--            crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</head>
<body>

<div class="container">
    <h1>Anotador semantico</h1>
    <div class="form-group">
        <label for="raw-text">Ingrese el texto que desee anotar:</label>
        <textarea class="form-control" rows="5" id="raw-text"></textarea>
    </div>
    <button id="submit" type="button" class="btn btn-primary">Anotar</button>
    <button id="example" type="button" class="btn  btn-info">Example</button>
    <div id="result">
    </div>
    <div id="count">
    </div>
</div>

<script type="text/javascript">
    var csrftoken = Cookies.get('csrftoken');
    var URL = "http://127.0.0.1:5000/anotate";
    $("#example").click(function () {
        var example = "El caso Receta de Arroz Verde 502 es una investigación publicada por el portal digital Mil Hojas. El portal digital reveló un correo electrónico recibido por Pamela Martínez supuesta asesora del expresidente Rafael Correa según Mil Hoja con un documento titulado Receta de Arroz Verde 502.  Según la investigación, el remitente del correo electrónico sería Geraldo Luiz Pereira de Souza, encargado de la administración y finanzas de Odebrecht en Ecuador. El mail demuestra presuntos aportes entregados por empresas multinacionales como Odebrecht al movimiento Alianza País desde noviembre de 2013 a febrero de 201 periodo en el que el expresidente Rafael Correa lideraba esa organización política. Según Mil Hojas, las donaciones alcanzarían los 11,6 millones de dólares. Las empresas que habrían realizado los aportes son: Constructora Norberto Odebrecht, SK Engineering & Construction, Sinohydro Corporation, Grupo Azul, Telconet, China International Water & Electric Corp.";
        $('#raw-text').val(example);
    });

    $("#submit").click(function () {
        // alert("Handler for .click() called.");
        var query = {
            "text": document.getElementById("raw-text").value
        };
        console.log(">>> SENT");
        console.log(query);
        makeAjaxCall(URL, "POST", JSON.stringify(query)).then(function (respJson) {
                console.log("GET<<<");
                console.log(respJson);
                $('#raw-text').val('');
                $('#result').empty().append(respJson["data"]);
                var conteo = $('#count').empty();

                for (var key in respJson["count"]) {
                    console.log(key, respJson["count"][key]);
                    conteo.append('<button type="button" class="btn  btn-light">' + key + ' ' + respJson["count"][key] + '</button>')
                }

            },
            function (reason) {
                console.log("error in processing your request", reason);
            }
        );
    });

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }


    function makeAjaxCall(url, methodType, data, callback) {
        return $.ajax({
            url: url,
            method: methodType,
            dataType: "json",
            contentType: 'application/json',
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            data: data,
        });

    }
</script>
</body>
</html>
